/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #282c34; /* Background color spans the full screen */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif; /* Apply Roboto to the body */
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat to the app */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

.clock {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.dropdown, .time-input, .duration-input, .submit-button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  color: #005b96;
  background-color: #e0f7fa;
  transition: all 0.3s ease;
}

.dropdown:hover, .time-input:hover, .duration-input:hover, .submit-button:hover {
  border-color: #61dafb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.submit-button {
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #21a1f1;
}

.result {
  margin-top: 20px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

.error {
  color: #ff0000;
  margin-top: 10px;
}
.App-footer {
  position: absolute; /* Position the footer at the bottom of the page */
  left: 50%; /* Center horizontally */
  bottom: 0; /* Align at the bottom */
  transform: translateX(-50%); /* Adjust position to truly center */
  padding: 10px;
  font-size: 0.8rem;
  color: grey;
}
.App-footer a {
  color: grey;
  text-decoration: none;
}
.App-footer a:hover {
  text-decoration: underline;
}
